:root {
  --primary: #ff7e5f;
}

$white: #fff;
$primary: var(--primary);
$font-weight-bold: 700;
$black: #000;
$success: #28a745;
$danger: #dc3545;

$z-index-map: (
  base: 0,
  header: 10,
  dropdown: 20,
  modal: 30,
  overlay: 40,
  toast: 50,
  loader: 60,
);
