@import "../../brand-theme";

.footer {
  background: $primary;
  color: $white;
  padding: 2rem 0;
  text-align: center;

  .footer-title {
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
  }

  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-link {
    color: $white;
    text-decoration: none;
    font-weight: $font-weight-bold;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $black;
      transform: scale(1.1);
    }
  }
}
