@import "../index.scss";

header {
  .navbar {
    background-color: var(--primary) !important;
    box-shadow: 0 0.25rem 0.625rem #0000001a;
  }

  .logo {
    color: $white;
    text-shadow: 0 0.125rem 0.313rem #0000004d;
  }

  .nav-link-custom {
    color: $white !important;
    padding-top: 0.625rem;
    font-weight: $font-weight-bold;

    &:hover {
      color: $black !important;
    }
  }

  .authn-btn {
    background-color: $white;
    color: var(--primary);

    &:hover {
      background-color: darken($white, 5%);
    }
  }
}
