@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(100px);
  }
}

@keyframes shadow-scale {
  50% {
    transform: scaleX(1);
    opacity: 0.8;
  }
}
